/* bottom navigation buttons */

.navigation {
    display: flex;
    justify-content:center;
    align-items: center;
  }
  .navigation a {
    text-decoration: none;
  }
  .navigation button { 
    padding: 10px 40px;
    margin: 20px -10px 20px -10px ;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
  }
  .navigation button:hover{
  background-color:  #6d6d6d;
  }

  #home,#left,#right {
    background-color: #333333; /* Red */
    height: 4vh; /* Ensure body takes up full vertical height */
    width: 10vw; /* Ensure body takes up full horizontal width */
    max-width: 105px; /* Maximum width */
    }
  
  #home:hover,#left:hover,#right:hover {
    background-color:  #2f2f2f;
    height: 4vh; /* Ensure body takes up full vertical height */
    width: 11vw; /* Ensure body takes up full horizontal width */
    max-width: 110px; /* Maximum width */
     }

  #left {border-radius: 5px 0px 0px 5px;}
  #home {border-radius: 5px;}
  

 