/* TODO fix results screen */

/* Base styles for the body */
body {
    background-color: #000;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-size: cover;
    background-position: center center; /* Centers the background image */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Container and layout */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh; /* Ensure container takes full screen height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers vertically */
    align-items: center; /* Centers horizontally */
}

/* Heading styles */
h1 {
    text-align: center;
    font-size: 2.5em;
}

/* Main buttons */
.mainButtons {
    background-color: rgb(68, 68, 68); /* Gray background */
    color: white; /* White text */
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    max-width: 300px;
}

.mainButtons:hover {
    background-color: #666;
}

/* Selections and layout */
.selections {
    display: flex;
    align-items: flex-start; /* Align items at the top */
    justify-content: space-between; /* Evenly distribute lists */
    flex-direction: row; /* Make lists horizontal */
    background-color: rgba(30, 30, 30, 0.75);
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%; /* Full width of container */
    max-width: 1200px; /* Optional max width */
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.4);
    padding: 5px 20px 20px 20px;
    text-align: center; /* Center text inside lists */
    box-sizing: border-box;
}

/* Individual lists inside selections */
.selections ul {
    flex: 1; /* Each list takes equal space */
    margin: 0 10px; /* Small horizontal spacing between lists */
    padding: 0;
    list-style: none;
    text-align: center; /* Center items inside each list */
}

.selections ul li {
    margin: 5px 0;
}

.selectAllBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; /* Stack children horizontally */
}

/* Container for questions */
#questions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    min-width: 700px;
    height: auto; /* Dynamically adjust height based on content */
    box-sizing: border-box;
}

/* Question container */
.question-container {
    position: relative;
    background-color: rgba(30, 30, 30, 0.75);
    color: #e0e6ff;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 65vw; /* Responsive width */
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.4);
    overflow: hidden; /* Prevents content from overflowing */
    height: auto; /* Dynamically adjust height based on content */
    padding: 5px 20px 20px 20px;
}

/* Question text */
.question-container p {
    font-size: 1.2rem; /* Adjust font size for readability */
    word-wrap: break-word; /* Allow text to wrap */
    white-space: normal; /* Ensure text breaks onto the next line */
    text-align: center; /* Center the text horizontally */
    padding: 5px 5px 15px 5px;
    margin: 10px 0px 2px 0px;
}

/* Result container */
#result-container {
    display: none; /* Hide result container by default */
    background-color: rgba(30, 30, 30, 0.75); /* Similar background to question container */
    color: #e0e6ff;
    border-radius: 10px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.4);
    padding: 15px;
    margin: 20px auto;
    width: 100%;
    max-width: 50vw; /* Responsive width */
    box-sizing: border-box;
    text-align: center;
}

/* Question ID */
.question-id {
    font-size: 0.7rem;
    color: #999999;
    position: absolute;
    right: 10px;
    bottom: 0; /* Align to the bottom of the container */
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add "..." if the text is too long */
    margin-top: 0;
}

/* List styles for options */
.options-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.options-list li {
    margin: 8px 0;
    padding: 0;
    width: 100%;
}

/* Button styles */
button {
    background-color: #444;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    height: auto; /* Ensure button height adjusts dynamically */
    line-height: 1.2;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    text-align: center;
}

button:hover {
    background-color: #666;
}

/* Selected button */
.selected {
    background-color: #dadada;
    color: #333;
    box-shadow: 0 4px 14px 0 #a6ff7d, 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

/* Specific buttons */
#filterBtn,
#finishBtn,
#resetBtn {
    height: 4vh;
    width: 18vw;
    min-width: 180px;
    max-width: 200px;
    margin: 10px;
    padding: 5px 10px;
    font-size: 1rem;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

#finishBtn {
    background-color: #4CAF50; /* Green */
    color: white;
}

#resetBtn {
    background-color: #f44336; /* Red */
}

/* Bottom buttons layout */
.bottomButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* Navigation buttons */
.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#home,
#right {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#home:hover,
#right:hover {
    background-color: #5a6268;
}

/* Popup container */
#popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#popup-content {
    background: white;
    color: #000;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

/* Result container styles */
.result-container {
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgba(173, 216, 230, 0.7); /* Light blue with 70% opacity */
}

/* Responsive rules for screens under 430px */
@media (max-width: 430px) {
    body,
    html {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden; /* Prevent horizontal scrolling */
        box-sizing: border-box;
    }

    .container {
        width: 80%;
        max-width: 100vw;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; /* Stack children vertically */
        box-sizing: border-box;
    }

    .question-container {
        width: 90vw; /* Full width of the viewport */
        max-width: 100vw;
        margin: 0 0 15px 0;
        padding: 10px; /* Adjust padding for small screens */
    }

    .question-container p {
        font-size: 1rem;
        word-wrap: break-word;
        white-space: normal;
        padding: 5px 10px 15px 10px;
    }

    .options-list button {
        font-size: 1rem;
        padding: 10px; /* Ensure buttons adjust size dynamically */
    }

    #result-container {
        width: 90vw; /* Full width of the viewport */
        max-width: 100vw;
        margin: 0 0 15px 0;
        padding: 10px; /* Adjust padding for small screens */
    }
}
