/* General body styling */
body {
    background-image: url('../support_Documents/H175C.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
  }
  
  /* Container styles */
  .container, .container1 {
    text-align: center;
    padding: 20px;
  }
  
  /* Heading styles */
  h1 {
    font-family: Arial, sans-serif;
    color: #fff;
    margin-bottom: 20px;
  }
  
  h6 {
    color: #fff;
    font-size: 14px;
    margin: 10px 0;
  }
  
  /* Button styling */
  .typebuttons button {
    background-color: #007BFF;
    color: white;
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .typebuttons button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  button:active {
    transform: translateY(1px); /* Button pressed effect */
  }
  
  /* General styling for mainButtons */
  .mainButtons {
    display: inline-block;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: transform 0.2s ease;
  }
  
  button:hover {
    transform: translateY(-3px); /* Slight "lift" on hover */
  }
  